<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header >
        <h1>Book Component By Function</h1>
    </header>
    <main >
      <div >
         <div >
             <div >
                    <P > class 49/3</P>
             </div>
             
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum corporis eveniet totam omnis harum, fugit earum facilis ad fuga id voluptates nesciunt dolorum in dolores beatae perspiciatis, odio aut doloremque.</p>
             <P > Kyle Simpson book</P>
           </div>
          <div class="d4">
             SCOPE &<br />
             CLOSURES
          </div>
          <div
           class="d5">
          JS
           </div>
     </div> 
         <p class="p5">By Kyle Simpson</p>
     <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat eos obcaecati nam sapiente maxime perferendis reprehenderit consequuntur, ad doloremque illum!
         </p>
    </main>   
    <footer > &copy; Mohmad mansour & Moran   </footer>

</body>
</html>